<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="~{fragment/_staticLink :: link}">
    <div th:replace="~{fragment/_header :: header}"></div>
</head>
<body style="background-color:#F4F4F4">

<aside th:replace="~{fragment/_sidebar :: sidebar}"></aside>


<!--main content start-->
<section id="main-content">
    <section class="wrapper col-12" style="height: 800px">
        <div class="container" id="mainContainer">
            <div class="row" id="mainContainerRepleace">
                <!-- Carousel -->
                <div class="col-md-12" style="position: center">
                    <div class="text-center tm-hero-text-container">
                        <h3 th:text="${userModel.title}"></h3>

                        <!-- 基本信息  -->
                        <div class="card-header bg-light col-12" style="text-align: left">
                            <h4>基本信息：</h4>
                            <br>
                            <p><strong>ID: </strong><span th:text="${userModel.user.id}"></span></p>
                            <p><strong>学号: </strong><span th:text="${userModel.user.pid}"></span></p>
                            <p><strong>姓名: </strong><span th:text="${userModel.user.username}"></span></p>
                            <p><strong>邮箱: </strong><span th:text="${userModel.user.email}"></span></p>
                            <p><strong>权限: </strong><span th:text="${userModel.auth}"></span></p>
                            <p sec:authorize="hasRole('ADMIN')"><strong>密码: </strong><span th:text="${userModel.user.password}"></span></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


<!--尾部信息-->
<div th:replace="~{fragment/_footer :: footer}"></div>


<!-- js placed at the end of the document so the pages load faster -->
<script th:src="@{../../static/js/jquery.nicescroll.js}"></script>
<!--common script for all pages-->
<script th:src="@{../../static/js/common-scripts.js}"></script>

</body>
</html>