<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="~{fragment/_staticLink :: link}">
    <div th:replace="~{fragment/_header :: header}"></div>
</head>
<body style="background-color:#F4F4F4">

<aside th:replace="~{fragment/_sidebar :: sidebar}"></aside>

<!--main content start-->
<section id="main-content">
    <section class="wrapper col-12" style="height: 800px">
        <div id="mainContainer" class="container">
            <div id="mainContainerRepleace" class="row">
                <!-- Carousel -->
                <div style="position: center" class="col-md-12">
                    <div class="text-center tm-hero-text-container">
                        <h3 th:text="${userModel.title}"></h3>
                        <form action="/users" th:action="@{/users}" method="post" th:object="${userModel.user}">

                            <p th:if="*{id} neq null" name="id">ID: <span th:text="*{id}"></span><input type="hidden" name="id" th:value="*{id}"></p>

                            <p>学号：<br>
                                <input type="text" name="pid" required="true" οnkeyup="value=value.replace(/[^\d]/g,'')" placehoder="请输入数字" th:value="*{pid}"/>
                            <br></p>

                            <p>姓名：<br>
                                <input type="text" name="name" required="true" th:value="*{name}"/>
                            <br></p>

                            <p>邮箱：<br>
                                <input type="text" name="email" required="true" th:value="*{email}"/>
                            <br></p>

                            <p>密码：<br>
                                <input type="text" name="password" required="true" th:value="*{password}"/>
                            <br></p>

                            <input type="submit" name="提交">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!--尾部信息-->
<div th:replace="~{fragment/_footer :: footer}"></div>


<!-- js placed at the end of the document so the pages load faster -->
<script th:src="@{../../static/js/jquery.nicescroll.js}"></script>
<!--common script for all pages-->
<script th:src="@{../../static/js/common-scripts.js}"></script>

</body>
</html>