<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragment/_header :: header}">
</head>
<body>
<style type="text/css">

    @import "/css/emoji/nature.css";
    @import "/css/emoji/object.css";
    @import "/css/emoji/people.css";
    @import "/css/emoji/place.css";
    @import "/css/emoji/Sysmbols.css";
    @import "/css/emoji/twemoji.css";

</style>
<!-- Page Content -->
<div class="container blog-content-container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-block">
                    <input class="form-control" maxlength="50" placeholder="请填写博客标题" type="text" value="">

                    <textarea class="blog-textarea" maxlength="300" placeholder="请填写博客摘要" value=""></textarea>

                    <hr>
                    <textarea data-hidden-buttons="cmdImage" data-provide="markdown" id="md"></textarea>

                    <hr>
                </div>

            </div>

        </div>

        <!-- 右侧栏目 -->
        <div class="col-md-4">

            <!-- 文章目录 -->
            <div class="card ">
                <h5 class="card-header"><i aria-hidden="true" class="fa fa-file-image-o"></i> 图片上传</h5>
                <div class="card-block">
                    <div class="row mt-1">
                        <div class="col-lg-12">


                            <form enctype="multipart/form-data" id="uploadformid">
                                <input accept="image/png,image/gif,image/jpeg" id="file" name="file" type="file">
                                <button class="btn btn-primary float-right" id="uploadImage" type="button">插入</button>

                            </form>

                        </div>
                    </div>
                </div>

            </div>
            <!-- 图片上传 -->
            <div class="card ">
                <h5 class="card-header"><i aria-hidden="true" class="fa fa-cog"></i> 博客设置</h5>
                <div class="card-block">
                    <div class="row mt-1">
                        <div class="col-lg-12">
                            标签： <input class="form-control form-control-tag" type="text">
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-12">
                            分类： <select class="form-control form-control-chosen" data-placeholder="请选择" id="single">
                            <option>Java</option>
                            <option>分布式</option>
                            <option>数据库</option>
                        </select>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-lg-12">
                            <button class="btn btn-primary float-right">发布</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<div th:replace="~{fragment/_footer :: footer}">...</div>


<script src="../../js/blogedit.js" th:src="@{/js/blogedit.js}"></script>

</body>
</html>