<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Evaluation System</title>
</head>
<body>

<!--sidebar start-->
<aside th:fragment="sidebar">
    <div class="sideNav" role="navigation" style="position:absolute; background-color:rgba(0,0,0,0); border-right:0px">
        <div class="nav-collapse " id="sidebar">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="side-menu">
                <li>
                    <a href="/"><i class="fa fa-tags"></i>首页</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-tags"></i>看板<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/view_detail/">近期学习监测</a>
                        </li>
                        <li>
                            <a href="/view_score/">期末考试预测</a>
                        </li>
                        <li>
                            <a href="/view_evaluation/">个性化评价</a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="not hasRole('ADMIN')">
                    <a href="#"><i class="fa fa-tags"></i>我的信息<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{'/u/'}">我的主页</a>
                        </li>
                        <li>
                            <a th:href="@{'/c/'}">我的班级</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-tags"></i>后台管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li sec:authorize="hasRole('ADMIN')">
                            <a th:href="@{'/users/'}">用户管理</a>
                        </li>
                        <li sec:authorize="hasRole('ADMIN')">
                            <a th:href="@{'/classes/'}">班级管理</a>
                        </li>
                        <li>
                            <a href="/update_detail/">成绩管理</a>
                        </li>
                        <li>
                            <a href="/updateSystem">系统管理</a>
                        </li>
                    </ul>
                </li>

                <!--                <li>-->
                <!--                    <a href="#"><i class="fa fa-tags"></i>系统维护<span class="fa arrow"></span></a>-->
                <!--                    <ul class="nav nav-second-level">-->
                <!--                        -->
                <!--                    </ul>-->
                <!--                </li>-->



            </ul>
            <!-- sidebar menu end-->
        </div>
    </div>
</aside>
<!--sidebar end-->


</body>
<