<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Evaluation System</title>
</head>
<body>

<div th:fragment="header">
    <div class="header col-12">
        <h1>学习状况评估监测系统</h1>
        <nav class="navbar-dark col-md-6">
            <div class="navbar-text"><a href="/" th:href="@{~/}">进入首页</a></div>
            <div class="navbar-text"><a href="https://tesseract-r.github.io/Ruicheng-blog/#/" class="nav-item">学习笔记</a></div>
        </nav>
    </div>
</div>

</body>
</html>