<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Evaluation System</title>
</head>
<body>

<header class="header col-12" th:fragment="header">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right"></div>
    </div>

    <!--logo start-->
    <a href="#" class="logo"><strong>学习状况评估监测系统</strong></a>
    <!--logo end-->

    <div class="top-menu" style="position: center; padding-top: 17px">
        <ul class="nav pull-right top-menu">
            <li><a class="social" href="/register" th:href="@{~/register}">注册</a></li>
        </ul>
        <ul class="nav pull-right top-menu">
            <li><a class="social" href="/login" th:href="@{~/login}">登录</a></li>
        </ul>
        <ul class="nav pull-right top-menu">
            <li><a class="social" href="/" th:href="@{~/}">首页</a></li>
        </ul>
    </div>
</header>

</body>
</html>