<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evaluation System</title>
</head>
<body>

<!--sidebar start-->
<aside th:fragment="sidebar">
    <div class="sideNav" role="navigation" style="position:absolute; background-color:rgba(0,0,0,0); border-right:0px">
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="side-menu">
                <li>
                    <a href="/"><i class="fa fa-tags"></i>首页</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-tags"></i>学生信息<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/view_detail/">近期学习监测</a>
                        </li>
                        <li>
                            <a href="/view_score/">期末考试预测</a>
                        </li>
                        <li>
                            <a href="/view_evaluation/">个性化评价</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-tags"></i>后台管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/update_detail/">班级管理</a>
                        </li>
                        <li>
                            <a href="/update_detail/">更新成绩</a>
                        </li>
                        <li>
                            <a th:href="@{'/users/'}">用户管理</a>
                        </li>
                        <li>
                            <a href="/updateSystem">更新系统</a>
                        </li>
                    </ul>
                </li>

<!--                <li>-->
<!--                    <a href="#"><i class="fa fa-tags"></i>系统维护<span class="fa arrow"></span></a>-->
<!--                    <ul class="nav nav-second-level">-->
<!--                        -->
<!--                    </ul>-->
<!--                </li>-->

                <li>
                    <a href="#"><i class="fa fa-tags"></i>我的信息<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/updateMyPassword">修改我的密码</a>
                        </li>
                    </ul>
                </li>

            </ul>
            <!-- sidebar menu end-->
        </div>
    </div>
</aside>
<!--sidebar end-->



</body>
<