<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ECharts</title>
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
</head>
<body>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main" style="width: 600px;height:400px;"></div>

<script type="text/javascript">
  // 基于准备好的dom，初始化echarts实例
  var chartDom = document.getElementById('main');
  var myChart = echarts.init(chartDom);
  var option;

  option = {
    title: {
      text: 'Stacked Line'
    },
    tooltip: {
      trigger: 'axis'
    },
    legend: {
      data: ['Average', 'STD']
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    toolbox: {
      feature: {
        saveAsImage: {}
      }
    },
    xAxis: {
      type: 'category',
      boundaryGap: false,
      data: ['2022/01/18 01:50:51', '2022/01/18 01:50:51']
    },
    yAxis: {
      type: 'value'
    },
    series: [
      {
        name: 'Average',
        type: 'line',
        stack: 'Total',
        data: [45, 60]
      },
      {
        name: 'STD',
        type: 'line',
        stack: 'Total',
        data: [10, 5]
      }
    ]
  };

  option && myChart.setOption(option);
</script>
</body>
