<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="~{fragment/_staticLink :: link}">
    <div th:replace="~{fragment/_header :: header}"></div>
</head>

<body data-gr-ext-installed="" data-new-gr-c-s-check-loaded="14.984.0">
<div class="body">
    <div class="wrap col-12">
        <div class="container blog-content-container col-12">
            <form class="form-signin col-12" method="post" th:action="@{/register}">
                <div class="left col-md-6">
                    <video autoplay loop muted src="static/video/globe-500.h264.mp4"></video>
                </div>
                <div class="right inputbox col-md-6">
                    <div class="right-col col-md-8" style="display: inline-block">
                        <h2 class="form-signin-heading">注册</h2>

                        <div class="form-group col-md-12">
                            <label class="col-form-label" for="pid" style="font: 20px bold">学号：</label>
                            <input class="form-control" id="pid" maxlength="50" name="pid" placeholder="请输入账号"
                                   required=true
                                   type="text">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-form-label" for="email" style="font: 20px bold">邮箱：</label>
                            <input class="form-control" id="email" maxlength="50" name="email" placeholder="请输入邮箱"
                                   required=true type="email">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-form-label" for="username" style="font: 20px bold">姓名：</label>
                            <input class="form-control" id="username" maxlength="20" name="username" placeholder="请输入姓名"
                                   required=true type="text">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-form-label" for="password" style="font: 20px bold">密码：</label>
                            <input class="form-control" id="password" maxlength="30" name="password"
                                   placeholder="请输入字母或特殊符号和数字结合"
                                   required=true type="password">
                        </div>
                        <div class="buttons col-md-12">
                            <div class="form-group col-md-6">
                                <button class="btn btn-lg btn-primary btn-block" style="font: 20px bold" type="submit">
                                    提交
                                </button>
                            </div>
                            <div class="form-group col-md-6">
                                <button class="btn btn-lg btn-primary btn-block" style="font: 20px bold"
                                        th:href="@{/registerAsTeacher}" type="button">我是老师
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div> <!-- /container -->

    </div>
    <div th:replace="~{fragment/_footer :: footer}">...</div>
</div>

</body>
</html>