{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: grid;
}
.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.blog-content-container{
    width: 900px;
    height: 600px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
}
.left{
    width: 500px;
    height: 600px;
}
.left video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #70b4e3;
    overflow: hidden;
}
.right{
    width: 400px;
    height: 600px;
    background: rgba(255,255,255,0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-col{
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
h2{
    font-size: 26px;
    color: #70b4e3;
    font-weight: 400;
    padding-bottom: 10px;
}
.form-group{
    margin: 0 0 0 0;
    padding-bottom: 0;
    text-align: center;
    position: center;
}
.col-form-label{
    font-size: 20px;
    font-weight: 400;
    color: #495057;
    padding: 0 0;
}
.form-control{
    width: 200px;
    outline: none;
    border: none;
    font-size: 20px;
    background: rgba(0,0,0,0);
}
.buttons{
    display: flex;
    align-items: center;
    margin: auto;
}


.form-signin {
    max-width: 900px;
    height: 600px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
