<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="~{fragment/_staticLink :: link}">
    <div th:replace="~{fragment/_header :: header}"></div>
</head>
<body style="background-color:#F4F4F4">
<aside th:replace="~{fragment/_sidebar :: sidebar}"></aside>
<!-- Page Content -->

<section id="main-content">
    <section class="wrapper">
        <!-- Carousel -->
        <div class="col-md-12" style="display: flex">
            <div class="no-gutter col-md-12 col-sm-12" style="padding: 0 0 0 0; display: flex; height: 700px">
                <div class="row col-auto" style="padding: 5px; margin: 5px">
                    <!-- 左侧栏目 -->
<!--                    <div class="col-md-4 col-xl-3">-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-12">-->
<!--								<span>-->
<!--								<a class="blog-edit-avatar" data-target="#flipFlop" data-th-attr="userName=${userModel.user.username}" data-toggle="modal"-->
<!--                                   role="button">-->
<!--									<img alt="null"-->
<!--                                         class="blog-avatar blog-avatar-230" th:src="${userModel.user.avatar} ">-->
<!--								</a>-->
<!--								</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-md-10 col-xl-10">
                        <!-- 个人设置 -->
                        <div class="card ">
                            <h5 class="card-header"><i aria-hidden="true" class="fa fa-cog"></i> 个人设置</h5>
                            <div class="card-block">
                                <form id="userForm" method="post" th:action="@{/u/admin/profile}"
                                      th:object="${userModel.user}">
                                    <input id="userId" name="id" th:value="*{id}" type="hidden">

                                    <div class="form-group ">
                                        <label class="col-form-label" for="username">账号</label>
                                        <input class="form-control" id="username" name="username" readonly="readonly"
                                               th:value="*{pid}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="email">邮箱</label>
                                        <input class="form-control" id="email" maxlength="50" name="email"
                                               placeholder="请输入邮箱" th:value="*{email}" type="email">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="name">姓名</label>
                                        <input class="form-control" id="name" maxlength="20" name="name"
                                               placeholder="请输入姓名，至少2个字符，至多20个" th:value="*{username}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="password">密码</label>
                                        <input class="form-control" id="password" maxlength="30" name="password"
                                               placeholder="请输入密码，至少3个字符，至多30个" th:value="*{password}" type="password">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">保存</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

<!--                个人成绩信息与评价-->
                <div class="row col-10" style="padding: 5px; margin: 5px" sec:authorize="hasRole('STUDENT')">
                    <!-- 右侧栏目 -->
                    <div class="card col-12" name="userScore">
                        <div class="card-header">成绩信息</div>
                        <br>
                    </div>

                    <div class="card col-12" name="userEva">
                        <div class="card-header">评价信息</div>
                        <br>
                        <div class="card-block col-8" name="currEva">
                            当前
                        </div>
                        <div class="card-block col-8" name="prevEva">
                            历史
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
</section>

<!-- /.container -->

<!-- The modal -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="flipFlop"
     role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">编辑头像</h4>
                <button aria-label="Close" class="close" data-dismiss="modal"
                        type="button">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body" id="avatarFormContainer"></div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" id="submitEditAvatar">提交</button>
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- JavaScript -->
<script src="../../js/userspace/main.js" th:src="@{/js/userspace/main.js}"></script>

<!-- /.container -->
<!-- js placed at the end of the document so the pages load faster -->
<script th:src="@{../../static/js/jquery.nicescroll.js}"></script>
<!--common script for all pages-->
<script th:src="@{../../static/js/common-scripts.js}"></script>


<div th:replace="~{fragment/_footer :: footer}">...</div>
</body>
</html>