<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="~{fragment/_staticLink :: link}">
    <div th:replace="~{fragment/_header :: header}"></div>
</head>
<body style="background-color:#F4F4F4">
<aside th:replace="~{fragment/_sidebar :: sidebar}"></aside>
<!-- Page Content -->

<section id="main-content">
    <section class="wrapper">
        <!-- Carousel -->
        <div class="col-md-12" style="display: flex">
            <div class="no-gutter col-md-12 col-sm-12" style="padding: 0 0 0 0; display: flex; height: auto">
                <div class="row col-auto" style="padding: 5px; margin: 5px">
                    <!-- 左侧栏目 -->
                    <!--                    <div class="col-md-4 col-xl-3">-->
                    <!--                        <div class="row">-->
                    <!--                            <div class="col-md-12">-->
                    <!--								<span>-->
                    <!--								<a class="blog-edit-avatar" data-target="#flipFlop" data-th-attr="userName=${userModel.user.username}" data-toggle="modal"-->
                    <!--                                   role="button">-->
                    <!--									<img alt="null"-->
                    <!--                                         class="blog-avatar blog-avatar-230" th:src="${userModel.user.avatar} ">-->
                    <!--								</a>-->
                    <!--								</span>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="col-md-10 col-xl-10">
                        <!-- 个人设置 -->
                        <div class="card ">
                            <h5 class="card-header"><i aria-hidden="true" class="fa fa-cog"></i> 个人设置</h5>
                            <div class="card-block">
                                <form id="userForm" method="post" th:action="@{/u/admin/profile}"
                                      th:object="${userModel.user}">
                                    <input id="userId" name="id" th:value="*{id}" type="hidden">

                                    <div class="form-group ">
                                        <label class="col-form-label" for="username">账号</label>
                                        <input class="form-control" id="username" name="username" readonly="readonly"
                                               th:value="*{pid}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="email">邮箱</label>
                                        <input class="form-control" id="email" maxlength="50" name="email"
                                               placeholder="请输入邮箱" th:value="*{email}" type="email">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="name">姓名</label>
                                        <input class="form-control" id="name" maxlength="20" name="name"
                                               placeholder="请输入姓名，至少2个字符，至多20个" th:value="*{username}" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="password">密码</label>
                                        <input class="form-control" id="password" maxlength="30" name="password"
                                               placeholder="请输入密码，至少3个字符，至多30个" th:value="*{password}" type="password">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">保存</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!--                个人成绩信息与评价-->
                <div class="row col-10" sec:authorize="hasRole('STUDENT') or hasRole('TEACHER')" style="padding: 5px; margin: 5px">
                    <!-- 右侧栏目 -->
                    <div class="card col-12" name="userScore">
                        <div class="card-header">成绩信息</div>
                        <br>
                        <div class="card-body">
                            <table border="1" class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>班级名称</td>
                                        <td>成绩</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="class: ${userModel.classScorelistMap.keySet()}">
                                        <td th:text="${class.classname}"></td>
                                        <td th:each="score: ${userModel.classScorelistMap.get(class)}" th:text="${score}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card col-12" name="userEva">
                        <div class="card-header">评价信息</div>
                        <br>
                        <div class="card-block col-8" name="currEva" style="display: contents">
                            当前
                            <div class="card-body">
                                <table border="1" class="table table-striped">
                                    <tbody th:each="class: ${userModel.classEvalistMap.keySet()}">
                                    <tr th:if="${userModel.classEvalistMap.get(class).size()} neq 0">
                                        <td th:text="${class.classname}"></td>
                                        <td th:text="${userModel.classEvalistMap.get(class).get(0).getEvaluation()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-block col-8" name="prevEva" style="display: contents">
                            历史
                            <div class="card-body">
                                <table border="1" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <td th:each="class: ${userModel.classEvalistMap.keySet()}" th:text="${class.classname}"></td>
                                        <td>时间</td>
                                    </tr>
                                    </thead>
                                    <tbody th:each="class: ${userModel.classEvalistMap.keySet()}">
                                    <tr th:each="eva: ${userModel.classEvalistMap.get(class)}">
                                        <td th:text="${eva.getEvaluation()}"></td>
                                        <td th:text="${eva.getCreateTime()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</section>


<!-- /.container -->
<!-- js placed at the end of the document so the pages load faster -->
<script th:src="@{../../static/js/jquery.nicescroll.js}"></script>
<!--common script for all pages-->
<script th:src="@{../../static/js/common-scripts.js}"></script>


<!--<div th:replace="~{fragment/_footer :: footer}">...</div>-->
</body>
</html>