<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="~{fragment/_staticLink :: link}">
    <div th:replace="~{fragment/_header :: header}"></div>
</head>
<body style="background-color:#F4F4F4">
<aside th:replace="~{fragment/_sidebar :: sidebar}"></aside>
<!-- Page Content -->

<section id="main-content">
    <section class="wrapper">
        <!-- Carousel -->
        <div class="col-md-12" style="display: flex">
            <div class="no-gutter col-md-12 col-sm-12" style="padding: 0 0 0 0; display: flex; height: 800px">
                <div class="row col-3" style="padding: 5px; margin: 5px">
                    <div class="card col-12" name="userScore">
                        <div class="card-header"><h6>班级信息</h6></div>
                        <br>
                        <span>班级人数：</span>
                        <span th:text="${class.userNum}"></span>
                        <br>
                        <span>班级信息：</span>
                        <span th:text="${class.info}"></span>
                        <br>
                        <span>创始者：</span>
                        <span th:text="${class.creator}"></span>
                        <br>
                        <span>管理员：</span>
                        <table border="1" class="table table-striped">
                            <thead>
                            <tr>
                                <td> 姓名</td>
                                <td> 邮箱</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${class.getTeachers()} eq 0">
                                <td colspan="6">没有用户信息！</td>
                            </tr>
                            <tr th:each="user : ${class.getTeachers()}">
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.email}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row col-9" style="padding: 5px; margin: 5px">
                    <!-- 右侧栏目 -->
                    <div class="card col-12" name="Score">
                        <div class="card-header"
                             style="display: flex;align-items: center;justify-content: space-between;align-content: center;">
                            <h6 class="col-3">添加新成绩</h6>
                        </div>

                        <div class="card-body">
                            <form th:action="@{'/c/submit/'+${class.id}}" th:object="${classModel.exam}">
                                <table bgcolor="#f0ffff" border="1" class="table table-striped" id="testTable">
                                    <thead>
                                    <tr>
                                        <td> 学号</td>
                                        <td> 姓名</td>
                                        <td th:each="exam: ${class.getExamList()}" th:text="${exam.getCreateTime()}"></td>
                                        <td> 新成绩</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:if="${class.getStudents().size()} eq 0">
                                        <td colspan="6">没有学生信息！</td>
                                    </tr>
                                    <tr th:each="user : ${class.getStudentList()}">
                                        <td th:text="${user.pid}"></td>
                                        <td th:text="${user.username}"></td>
                                        <td th:each="exam: ${class.getExamList()}"
                                            th:text="${exam.getScoreByPid(user.pid)}"></td>
                                        <td>
                                            <input name="student" th:value="${user.getId()}"
                                                   type="hidden">
                                            <input id="score" name="score" th:value="0">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <button class="tm-btn-submit" id="submit" type="submit">提交</button>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


<script>
    function submit() {
        var parms = {
            list: [
                {
                    "id": 1,
                    "score": 1
                }, {
                    "id": 2,
                    "score": 2
                }, {
                    "id": 3,
                    "score": 3
                }] //这是个数组
        };
        $.ajax({
            dataType: "JSON",
            contentType: 'application/json;charset=UTF-8',//关键是要加上这行
            traditional: true,//这使json格式的字符不会被转码
            data: JSON.stringify(parms),
            type: "POST",
            timeout: 20000,
            url: "/c/inputScore/3",
            error: function (data) {
                alert(data.responseText);
            }
        });
    }
</script>

<!-- /.container -->
<!-- js placed at the end of the document so the pages load faster -->
<script th:src="@{../../static/js/jquery.nicescroll.js}"></script>
<!--common script for all pages-->
<script th:src="@{../../static/js/common-scripts.js}"></script>


<!--<div th:replace="~{fragment/_footer :: footer}">...</div>-->
</body>
</html>