<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="~{fragment/_staticLink :: link}">
    <div th:replace="~{fragment/_header :: header}"></div>
</head>
<body style="background-color:#F4F4F4">
<aside th:replace="~{fragment/_sidebar :: sidebar}"></aside>
<!-- Page Content -->

<!-- /.container -->
<script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>

<section id="main-content">
    <section class="wrapper">
        <!-- Carousel -->
        <div class="col-md-12" style="display: flex">
            <div class="no-gutter col-md-12 col-sm-12" style="padding: 0 0 0 0; display: flex; height: 800px">
                <div class="row col-3" style="padding: 5px; margin: 5px">
                    <div class="card col-12" name="userScore">
                        <div class="card-header"><h6>班级信息</h6></div>
                        <br>
                        <span>班级人数：</span>
                        <span th:text="${class.userNum}"></span>
                        <br>
                        <span>班级信息：</span>
                        <span th:text="${class.info}"></span>
                        <br>
                        <span>创始者：</span>
                        <span th:text="${class.creator}"></span>
                        <br>
                        <span>管理员：</span>
                        <table border="1" class="table table-striped">
                            <thead>
                            <tr>
                                <td> 姓名</td>
                                <td> 邮箱</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${class.getTeachers().size()} eq 0">
                                <td colspan="6">没有管理员信息！</td>
                            </tr>
                            <tr th:each="user : ${class.getTeachers()}">
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.email}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row col-9" style="padding: 5px; margin: 5px">
                    <!-- 右侧栏目 -->
                    <div class="card col-12" name="Score">
                        <div class="card-header"
                             style="display: flex;align-items: center;justify-content: space-between;align-content: center;">
                            <h6 class="col-3">成绩信息</h6>
                            <a class="btn btn-small btn-outline-dark col-1" th:href="@{'/c/inputScore/'+${class.id}}">添加新成绩</a>
                        </div>
                        <div class="card-body">
                            <table bgcolor="#f0ffff" border="1" class="col-12 table table-striped" id="testTable">
                                <thead>
                                <tr>
                                    <td> 学号</td>
                                    <td> 姓名</td>
                                    <td th:each="exam: ${class.getExamList()}" th:text="${exam.getCreateTime()}"></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${class.getStudents().size()} eq 0">
                                    <td colspan="6">没有学生信息！</td>
                                </tr>
                                <tr th:each="user : ${class.getStudentList()}">
                                    <td class="col-1" th:text="${user.pid}"></td>
                                    <td class="col-3" style="border-top:none;display: table-cell;">
                                        <a class="col-1" th:text="${user.username}"></a>
                                        <a th:if="${user.tmpField} eq 'True'" class="col-1 btn" style="display: contents; font-size: 12px;" role="button" th:href="@{#}">已关注<i class="fa fa-check"></i></a>
                                        <a th:if="${user.tmpField} eq 'False'" th:href="@{'/c/attention/'+${class.id}+'/'+${user.id}}" role="button" class="col-1 btn btn-outline-light" style="display: contents; font-size: 12px;">
                                            特别关注<i class="fa fa-bell-o"></i>
                                        </a>
                                    </td>
                                    <td contenteditable="true" th:each="exam: ${class.getExamList()}"
                                        th:text="${exam.getScoreByPid(user.pid)}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card col-12" name="Fig" style="height: 500px">
                        <div class="card-header"
                             style="display: flex;align-items: center;justify-content: space-between;align-content: center;">
                            <h6 class="col-3">图表</h6>
                            <a class="getImg" role="button" id="getImg" data-th-attr="classId=${class.id}">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="card-body col-12" style="display: flex;align-items: stretch;justify-content: center;">
                            <div class="figure col-6" id="exams" style="width: 500px;height:400px;" data-th-attr="classId=${class.id}">
                            </div>
                            <div class="figure col-6" id="scores" style="width: 500px;height:400px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<script type="text/javascript" th:replace="~{fragment/echart :: exams}">
</script>
<script type="text/javascript">
    const chartDom2 = document.getElementById('scores');
    const myChart2 = echarts.init(chartDom2);
    let option2;
    option2 = {
        title: {
            text: '学生成绩走势'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['test_student001', 'test_student002', 'test_student003', 'test_student004', 'test_student005', 'test_student006'
                , 'test_student006', 'test_student007', 'test_student008', 'test_student009']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            data: ['2022/03/11 19:46:18', '2022/03/11 20:47:28', '2022/03/11 20:55:56', '2022/03/11 21:35:37']
        },
        yAxis: {
            type: 'value',
            min:0,
            max:100
        },
        series: [

            {
                name: 'test_student001',
                data: [10, 22, 22, 33],
                type: 'line',
                smooth: true
            },
            {
                name: 'test_student002',
                data: [20, 33, 33, 33],
                type: 'line',
                smooth: true
            },
            {
                name: 'test_student003',
                data: [30, 44, 44, 33],
                type: 'line',
                smooth: true
            },
            {
                name: 'test_student004',
                data: [40, 55, 55, 33],
                type: 'line',
                smooth: true
            },
            {
                name: 'test_student005',
                data: [50, 66, 66, 33],
                type: 'line',
                smooth: true
            },
            {
                name: 'test_student006',
                data: [60, 77, 77, 33],
                type: 'line',
                smooth: true
            },
            {
                name: 'test_student007',
                data: [70, 88, 88, 33],
                type: 'line',
                smooth: true
            },
            {
                name: 'test_student008',
                data: [80, 99, 99, 33],
                type: 'line',
                smooth: true
            },
            {
                name: 'test_student009',
                data: [90, 55, 55, 33],
                type: 'line',
                smooth: true
            }
        ]
    };
    option2 && myChart2.setOption(option2);
</script>
<!--<script type="text/javascript" th:include="~{fragment/echart :: scores}">-->
<!--</script>-->

<!-- js placed at the end of the document so the pages load faster -->
<script th:src="@{../../static/js/jquery.nicescroll.js}"></script>
<!--common script for all pages-->
<script th:src="@{../../static/js/common-scripts.js}"></script>


<!--<div th:replace="~{fragment/_footer :: footer}">...</div>-->
</body>
</html>