<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="~{fragment/_staticLink :: link}">
    <div th:replace="~{fragment/_header :: header}"></div>
</head>
<body style="background-color:#F4F4F4">
<aside th:replace="~{fragment/_sidebar :: sidebar}"></aside>
<!-- Page Content -->

<section id="main-content">
    <section class="wrapper">
        <!-- Carousel -->
        <div class="col-md-12" style="display: flex">
            <div class="no-gutter col-md-12 col-sm-12" style="padding: 0 0 0 0; display: flex; height: 800px">
                <div class="row col-3" style="padding: 5px; margin: 5px">
                    <div class="card col-12" name="userScore">
                        <div class="card-header"><h6>班级信息</h6></div>
                        <br>
                        <span>班级人数：</span>
                        <span th:text="${class.userNum}"></span>
                        <br>
                        <span>班级信息：</span>
                        <span th:text="${class.info}"></span>
                        <br>
                        <span>创始者：</span>
                        <span th:text="${class.creator}"></span>
                        <br>
                        <span>管理员：</span>
                        <table border="1" class="table table-striped">
                            <thead>
                            <tr>
                                <td> 姓名</td>
                                <td> 邮箱</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${class.getTeachers().size()} eq 0">
                                <td colspan="6">没有管理员信息！</td>
                            </tr>
                            <tr th:each="user : ${class.getTeachers()}">
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.email}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row col-9" style="padding: 5px; margin: 5px">
                    <!-- 右侧栏目 -->
                    <div class="card col-12" name="Score">
                        <div class="card-header"
                             style="display: flex;align-items: center;justify-content: space-between;align-content: center;">
                            <h6 class="col-3">成绩信息</h6>
                            <a class="btn btn-small btn-outline-dark col-1" th:href="@{'/c/inputScore/'+${class.id}}">添加新成绩</a>
                        </div>
                        <div class="card-body">
                            <table bgcolor="#f0ffff" border="1" class="table table-striped" id="testTable">
                                <thead>
                                <tr>
                                    <td> 学号</td>
                                    <td> 姓名</td>
                                    <td th:each="exam: ${class.getExamList()}" th:text="${exam.getCreateTime()}"></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${class.getStudents().size()} eq 0">
                                    <td colspan="6">没有学生信息！</td>
                                </tr>
                                <tr th:each="user : ${class.getStudents()}">
                                    <td th:text="${user.pid}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td contenteditable="true" th:each="exam: ${class.getExamList()}"
                                        th:text="${exam.getScoreByPid(user.pid)}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card col-12" name="Fig">
                        <div class="card-header"
                             style="display: flex;align-items: center;justify-content: space-between;align-content: center;">
                            <h6 class="col-3">图表</h6>
                            <a class="btn btn-small btn-outline-dark col-1" th:href="@{#}">刷新图表</a>
                        </div>
                        <div class="card-body col-12" style="display: flex;align-items: stretch;justify-content: center;">
                            <div class="figure col-4">
                                <img src="../../static/class-4-ana-1.png"/>
                            </div>
                            <div class="figure col-4">
                                <img src="../../static/class-4-ana-2.png"/>
                            </div>
                            <div id="main" class="figure col-4">

                            </div>
                        </div>
                    </div>


                    <script type="text/javascript">
                        // 基于准备好的dom，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('main'));//main是<div id="main" style="width: 600px;height:400px;"></div>的id
                        // 指定图表的配置项和数据
                        var names=[];
                        var values=[];
                        //数据加载完之前先显示一段简单的loading动画
                        myChart.showLoading();
                        $.ajax({
                            type : "post",
                            async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                            url : "/courseClickCount",    //请求发送到dataActiont处
                            data : {},
                            dataType : "json",        //返回数据形式为json
                            success : function(result) {
                                //请求成功时执行该函数内容，result即为服务器返回的json对象
                                if (result) {
                                    for(var i=0;i<result.length;i++){
                                        names.push(result[i].name);
                                        values.push(result[i].value);
                                    }
                                    myChart.hideLoading();    //隐藏加载动画
                                    myChart.setOption(
                                        {
                                            title: {
                                                text: '商品销量'
                                            },
                                            tooltip: {},
                                            legend: {
                                                data:['销量']
                                            },
                                            xAxis: {
                                                data: names
                                            },
                                            yAxis: {},
                                            series: [{
                                                name: '销量',
                                                type: 'bar',
                                                data: values
                                            }]
                                        }
                                    );
                                }
                            },
                            error : function(errorMsg) {
                                //请求失败时执行该函数
                                alert("图表请求数据失败!");
                                myChart.hideLoading();
                            }
                        });//end ajax
                    </script>
                </div>
            </div>
    </section>
</section>


<!-- /.container -->
<script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
<!-- js placed at the end of the document so the pages load faster -->
<script th:src="@{../../static/js/jquery.nicescroll.js}"></script>
<!--common script for all pages-->
<script th:src="@{../../static/js/common-scripts.js}"></script>


<!--<div th:replace="~{fragment/_footer :: footer}">...</div>-->
</body>
</html>